/* ===========================================
   PAGE TRANSITION STYLES
   =========================================== */

.page-transition {
  width: 100%;
}

.page-transition-enter {
  opacity: 1;
}
